@import './reset.css';


:root {
    --beige: #E7C7B3;
    --lightwhite: #FFF5EF;
    --white: #FFFFFF;
    --lightbrown: #CD9985;
    --darkbrown: #52443C;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

main {
    min-height: 100vh;
}

img {
    width: 200px;
    height: 120px;
    object-fit: cover;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Début header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: .5rem;
    position: fixed;
    top: 0;
    z-index: 9999;
    background: var(--white);


    .img_title {
        width: 300px;
        height: 75px;
        margin-left: 8rem;
    }

    .img_plume {
        width: 60px;
        height: 60px;
        margin-left: 1rem;
    }

    .link {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        li {
            margin: 0.8rem 0.5rem;

            ion-icon {
                font-size: 2.6rem;
                margin: 0.5rem;
                color: var(--darkbrown);
            }
        }
    }

}



/* Fin header */


/* HOME Début */

.home_container {
    min-height: 82vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8.5rem;

    .categories {
        width: 70%;
        display: flex;
        flex-direction: column;
        background: var(--lightwhite);
        margin: 1rem;

        h1 {
            font-size: 2.5rem;
            text-align: center;
            padding: 1rem;
            margin-bottom: 1rem;
            color: var(--lightbrown);
            font-family: 'libre baskervile';
            font-weight: bold;

        }


        .categories_list {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            button {
                width: 40%;
                font-weight: 500;
                margin: 1rem 0 1rem 0;
                padding: 1rem 4rem;
                background: var(--beige);
                font-size: 1.5rem;
                border: none;
                border-radius: .5rem;
                cursor: pointer;
                transition: .5s ease-in-out;




                a {
                    text-decoration: none;
                    color: var(--darkbrown);

                }
            }

            button:hover {
                transition: .5s ease-in-out;
                transform: scale(1.1);

            }
        }
    }


    .latest_articles {
        width: 30%;
        display: flex;
        flex-direction: column;
        margin: 1rem;

        h1 {
            font-size: 2.5rem;
            text-align: center;
            padding: 1rem;
            margin-bottom: 1rem;
            font-weight: bold;
            color: var(--lightbrown);
            font-family: 'libre baskervile';
        }

        p {
            margin: 1rem;
            text-align: center;
            color: var(--darkbrown);
        }

        .container_categories_list {
            height: 50vh;
            overflow-x: hidden;
            -ms-overflow-style: none;



            .lastest_articles_article {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1.5rem;
                border-bottom: 1px solid var(--darkbrown);

                p {

                    a {
                        text-decoration: none;
                        color: var(--lightbrown);
                        margin-bottom: .5rem;
                        border-bottom: 1px solid lightgray;
                        transition: .5s;
                    }

                    a:hover {
                        border-bottom: 1px solid var(--lightbrown);
                    }
                }

                img {
                    width: 100%;
                    height: 250px;
                    margin: 20px;
                }

                h2 {
                    font-size: 1.5rem;
                    font-family: 'libre baskerville';
                    margin: 0.5rem;
                    color: var(--lightbrown);
                    font-weight: bold;
                    text-align: center;
                }

                span {
                    margin-bottom: .5rem;


                    font-size: .8rem;
                    color: var(--lightbrown);


                }
            }
        }

        .container_categories_list::-webkit-scrollbar {
            display: none;
        }
    }


}





/* HOME Fin */


/* ARTICLES Début */

.container_section_articles {
    display: flex;
    flex-direction: column;
    margin-top: 8.5rem;


    h1 {
        font-family: 'libre baskerville';
        text-align: center;
        color: var(--lightbrown);
        font-size: 2.5rem;
        margin: 1rem;
        font-weight: bold;
    }

    .articles_container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--lightwhite);



        .articles_container_article {
            width: 40%;
            margin: 2rem;
            max-height: 60vh;

            img {
                width: 100%;
                height: 300px;
                margin-bottom: .5rem;
                object-fit: cover;
                object-position: center;
            }

            h2 {
                font-family: 'libre baskerville';
                font-size: 1.5rem;
                text-align: center;
                margin: 1rem 0;
                color: var(--lightbrown);
                font-weight: bold;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: var(--lightbrown);

                }
            }

            p {
                color: var(--darkbrown);
                margin: .8rem;
                line-height: 1.4rem;

                a {
                    text-decoration: none;
                    color: var(--lightbrown);
                    margin-bottom: .5rem;
                    border-bottom: 1px solid lightgray;
                    transition: .5s;
                }

                a:hover {
                    border-bottom: 1px solid var(--lightbrown);
                }

            }

            button {
                margin-top: 0.5rem;
                background-color: var(--lightbrown);
                color: var(--lightwhite);
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 4px;
                cursor: pointer;
                font-weight: bold;
            }



        }

        .profil {
            width: 100%;
            display: flex;
            align-items: center;

            img {
                border-radius: 50%;
                width: 40px;
                height: 40px;
                margin: .5rem;
                object-fit: cover;
                object-position: center;
            }

            p {
                font-size: .9rem;

            }

            span {
                color: var(--darkbrown);
                font-size: .8rem;
                font-weight: bold;
                margin-bottom: .3rem;

            }

            .profil_user {
                display: flex;
                flex-direction: column;

            }
        }
    }

}

/* ARTICLES Fin */


/* ARTICLE Début */


.article_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8.5rem;

    h1 {
        font-family: 'libre baskerville';
        text-align: center;
        color: var(--lightbrown);
        font-size: 2.5rem;
        margin-top: 1rem;
        font-weight: bold;
    }


    .section_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        .article_favorite {
            width: 20%;
            margin-left: 2rem;
            background: var(--lightwhite);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: 'libre baskerville';
                font-size: 1.5rem;
                text-align: center;
                margin: auto;
                color: var(--lightbrown);
                font-weight: bold;
                width: 100%;
                margin-bottom: 1.5rem;
            }

            .article_choice {
                margin: .8rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 150px;
                    height: 150px;
                    margin-bottom: 0.5rem;
                }

                a {
                    font-family: 'libre baskerville';
                    font-size: 1.2rem;
                    text-align: center;
                    margin-top: .5rem;
                    color: var(--lightbrown);
                    font-weight: bold;
                    text-decoration: none;
                }


            }
        }

        .articlescontainer {
            width: 40%;
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                height: 300px;
                margin-bottom: .5rem;
                object-fit: cover;
                object-position: center;

            }

            span {
                font-size: .8rem;
                color: var(--lightbrown);
                margin-top: .5rem;
                font-style: italic;
            }

            h2 {
                width: 100%;
                font-family: 'libre baskerville';
                font-size: 2rem;
                text-align: center;
                margin: 1rem auto 2rem auto;
                color: var(--lightbrown);
                font-weight: bold;
                line-height: 2.5rem;
            }

            p {
                margin: .8rem 0;
                line-height: 1.4rem;
                color: var(--darkbrown);

            }

            .fav_container {
                a {
                    text-decoration: none;
                    color: var(--lightbrown);
                    margin-bottom: .5rem;
                    border-bottom: 1px solid lightgrey;

                    transition: .5s;
                }

                a:hover {
                    border-bottom: 1px solid var(--lightbrown);
                }
            }

        }


        .user_profil {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            height: 80vh;




            .user_profil_container {
                margin: 4rem auto;
                padding: .6rem;
                background-color: var(--lightwhite);

                .user_profil_img {
                    display: flex;
                    align-items: center;

                    img {
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;
                        margin: .5rem;
                    }

                    span {
                        color: var(--lightbrown);
                        font-weight: bold;
                    }


                }

                p {
                    color: var(--darkbrown);
                    margin: .8rem;
                    line-height: 1.4rem;
                }

            }

        }
    }






    .section_comment {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem auto;


        .section_comment_review {
            -ms-overflow-style: none;
            width: 50%;
            height: 33vh;
            margin: 1rem;
            overflow-x: hidden;

            h2 {
                font-family: 'libre baskerville';
                font-size: 1.5rem;
                margin: .8rem 0;
                color: var(--lightbrown);
                font-weight: bold;
            }

            article {
                border: 1px solid var(--lightbrown);
                padding: 1rem;
                margin-bottom: 1rem;

                .profil_comment {
                    color: var(--darkbrown);
                    margin-bottom: .6rem;
                    display: flex;
                    align-items: center;

                    span {
                        color: var(--darkbrown);
                        font-weight: 600;
                        font-size: 1.2rem;
                        margin-right: .5rem;
                    }

                    .date_comment {

                        span {
                            font-size: .8rem;
                            color: var(--lightbrown);

                        }
                    }



                }

                p {
                    color: var(--darkbrown);
                    margin: 0.5rem 0 1rem 0;
                    line-height: 1.4rem;
                }

                a {
                    text-decoration: none;
                    color: var(--lightbrown);
                    margin-bottom: .5rem;
                    border-bottom: 1px solid lightgray;
                    transition: .5s;
                }

                a:hover {
                    border-bottom: 1px solid var(--lightbrown);
                }
            }




        }

        .section_comment_review::-webkit-scrollbar {
            display: none;
        }


    }

    .form_comment {
        width: 50%;
        margin: 1rem;

        h2 {
            font-family: 'libre baskerville';
            font-size: 1.5rem;
            margin: .8rem 0;
            color: var(--lightbrown);
            font-weight: bold;
        }

        form {
            width: 100%;
            font-family: 'Montserrat', sans-serif;


            textarea {
                border: 1px solid lightgray;
                width: 94%;
                padding: .5rem;
                margin-bottom: .5rem;
            }

            button {
                width: 97%;
                padding: .6rem;
                color: var(--lightwhite);
                background-color: var(--lightbrown);
                border: 1px solid var(--lightbrown);
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                font-weight: bold;
                cursor: pointer;
                position: relative;



                span {
                    position: relative;
                    z-index: 2;
                }



            }


            button:hover {
                transition: color .1s ease-in-out;
                color: var(--lightbrown);

            }

            button::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
                /* Transitions pour le remplissage */
            }

            button:hover::before {
                width: 100%;
                background-color: var(--lightwhite);
                /* Couleur de remplissage */
            }





        }
    }
}





/* ARTICLE Fin */



/* PROFIL début */

.profil_container {
    width: 100%;
    display: flex;
    padding: 1rem;
    margin-top: 8.5rem;


    .profil_container_box {
        width: 27%;

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'libre baskerville';
            text-align: center;
            color: var(--lightbrown);
            font-size: 2.5rem;
            margin-top: .6rem;
            font-weight: bold;

            ion-icon {
                color: var(--darkbrown);
                margin-right: 0.5rem;
            }

        }

        .profil_description {
            width: 70%;
            display: flex;
            flex-direction: column;
            background: var(--lightbrown);
            margin: 1rem;
            padding: 1rem;


            .profil_description_header {
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    font-weight: bold;
                    color: var(--darkbrown);
                }

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-position: center;
                    object-fit: cover;
                    margin-right: 0.8rem;
                    margin-bottom: .8rem;
                }
            }


            .profil_description_form {
                width: 100%;

                form {
                    display: flex;
                    flex-direction: column;

                    label {
                        margin: .5rem .5rem .5rem 0;
                        color: var(--darkbrown);
                        font-weight: bold;

                    }

                    input {
                        width: 80%;
                        border: 1px solid var(--lightwhite);
                        padding: .5rem 1rem;
                        margin-bottom: .5rem;
                    }



                }
            }

            button {
                margin: 0 1rem;
                border: 1px solid var(--lightwhite);
                padding: .5rem 1rem;
                background-color: var(--lightwhite);
                font-weight: bold;
                margin-top: 1rem;
                float: right;
                cursor: pointer;
                color: var(--darkbrown);
                overflow: hidden;
                position: relative;
            }

            button:hover {
                color: var(--lightwhite);
                border: 1px solid var(--darkbrown);
                transition: color .1s ease-in-out;

            }

            button::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: var(--darkbrown);
                transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
                /* Transitions pour le remplissage */
            }

            button:hover::before {
                width: 100%;
                background-color: var(--darkbrown);
                /* Couleur de remplissage */
            }

            button a {
                position: relative;
                z-index: 2;
            }

           

        }
    }

    .profil_items {
        width: 70%;

        h1 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'libre baskerville';
            text-align: center;
            color: var(--lightbrown);
            font-size: 2.5rem;
            margin: 1rem;
            font-weight: bold;

            ion-icon {
                color: var(--darkbrown);
                margin-right: 0.5rem;
            }
        }

        .profil_items_article {
            display: flex;
            flex-wrap: wrap;
            background-color: var(--lightwhite);

            .profil_items_article_content {
                display: flex;
                align-items: center;
                margin: .8rem;
                width: 45%;

                img {
                    width: 100px;
                    height: 100px;
                    margin-right: .5rem;
                }

                .ion-icon {
                    display: flex;
                    flex-direction: column;

                    h2 {
                        font-family: 'libre baskerville';
                        font-size: 1.5rem;
                        margin: .8rem .8rem 0 0;
                        color: var(--lightbrown);
                        font-weight: bold;
                    }



                    a {
                        font-size: .8rem;
                        cursor: pointer;
                        color: var(--lightbrown);
                        font-weight: 500;
                        transition: .3s ease-in-out;
                        margin-top: .3rem;
                        border-bottom: 1px solid lightgray;


                    }

                    a:hover {
                        color: var(--darkbrown);
                        transition: .3s ease-in-out;
                        border-bottom: 1px solid var(--lightbrown);

                    }
                }

            }

        }

        .profil_items_fav {
            display: flex;
            flex-wrap: wrap;
            background-color: var(--lightwhite);

            .profil_items_fav_content {
                display: flex;
                align-items: center;
                margin: .8rem;
                width: 40%;

                img {
                    width: 100px;
                    height: 100px;
                    margin-right: .5rem;
                }

                .ion-icon {
                    display: flex;
                    flex-direction: column;

                    h2 {
                        font-family: 'libre baskerville';
                        font-size: 1.5rem;
                        margin: .8rem .8rem 0 0;
                        color: var(--lightbrown);
                        font-weight: bold;
                    }


                    .fav_container {
                        a {
                            font-size: .8rem;
                            cursor: pointer;
                            color: var(--lightbrown);
                            font-weight: 500;
                            transition: .3s ease-in-out;
                            margin-top: .3rem;

                        }

                        a:hover {
                            color: var(--darkbrown);
                            transition: .3s ease-in-out;
                        }
                    }
                }

            }

        }

    }
}

/* PROFIL fin */




/* ABOUT début */

.about_container {
    width: 100vw;
    min-height: 80vh;
    display: flex;
    margin-top: 8.5rem;


    .about_container_bg {
        width: 20%;
        background: url(../assets/chairs-g898a823a5_1280.jpg );
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 1rem;
        margin: 1rem;
    }

    .about_container_description {
        width: 80%;
        padding: 1rem;
        margin: 1rem;

        .about_container_description_text {
            width: 85%;

            h2 {
                font-family: 'libre baskerville';
                font-size: 1.5rem;
                margin-top: 2.2rem;
                color: var(--lightbrown);
                font-weight: bold;
            }

            p {
                color: var(--darkbrown);
                margin: .5rem 0;
                line-height: 1.4rem;
            }
        }

        .about_container_description_idea {

            h2 {
                font-family: 'libre baskerville';
                font-size: 1.5rem;
                margin: .8rem 0;
                color: var(--lightbrown);
                font-weight: bold;
            }

            p {
                color: var(--darkbrown);
                margin: .5rem 0;
                line-height: 1.4rem;
            }

        }

    }

    h1 {
        font-family: 'libre baskerville';
        color: var(--lightbrown);
        font-size: 2.5rem;
        margin: 1rem 0 1.5rem 0;
        font-weight: bold;
    }

}






/* ABOUT fin */




/* CONTACT début */

.contact_form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 8.5rem;


    h1 {
        font-family: 'libre baskerville';
        color: var(--lightbrown);
        font-size: 2.5rem;
        margin: 1.5rem 0;
        font-weight: bold;
        text-align: center;
    }

    form {
        width: 60%;
        display: flex;
        margin: auto;
        flex-direction: column;
        margin-top: 1rem;

        label {
            margin-bottom: .8rem;
            margin-top: 1.2rem;
            color: var(--darkbrown);
            font-weight: 600;
            text-transform: uppercase;
        }

        input {
            border: 1px solid var(--lightbrown);
            padding: 1rem;
        }

        button {
            margin: .8rem 0;
            width: 40%;
            padding: 0.8rem 1rem;
            background-color: var(--darkbrown);
            color: var(--lightwhite);
            border: none;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            font-weight: bold;
            font-size: 1.2rem;
        }



        button:hover {
            color: var(--lightwhite);
            border: 1px solid var(--beige);
            transition: color .1s ease-in-out;

        }

        button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: var(--darkbrown);
            transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
            /* Transitions pour le remplissage */
        }

        button:hover::before {
            width: 100%;
            background-color: var(--lightbrown);
            /* Couleur de remplissage */
        }

        button span {
            position: relative;
            z-index: 2;
        }

        textarea {
            border: 1px solid var(--lightbrown);
            padding: 0.6rem;
        }

        .form_header {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .form_header_lastname,
            .form_header_firstname {
                width: 48%;
                display: flex;
                flex-direction: column;

                label {
                    margin-bottom: .6rem;
                }

                input {
                    border: 1px solid var(--lightbrown);
                    padding: 1rem;
                }
            }
        }
    }
}


.modal{
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 25vh;
    position: relative;
    top: -30rem;
    background-color: RGBA(205,153,133,.4);
    backdrop-filter: blur(5px);
    margin: auto;

    .modal-content{
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
        ;
        height: 100%;
      
        h2{
          margin-bottom: 1rem;
          font-weight: 500;
          color : var(--darkborwn);
          font-size : 1rem;
        }
      
        button{
          padding: .5rem 1.2rem;
          background: var(--lightwhite);
          border: 1px solid var(--darkbrown);
          color: var(--darkbrown);
        }
      }
      
}



/* CONTACT fin */


/* CREATE /EDIT début */
.create_form {
    width: 50%;
    margin: 1rem auto;
    min-height: 77vh;
    margin-top: 8.5rem;


    h1 {
        font-family: 'libre baskerville';
        color: var(--lightbrown);
        font-size: 2.5rem;
        margin: 10rem 0 1.5rem 0;
        font-weight: bold;
        text-align: center;

        ion-icon {
            color: var(--darkbrown);
        }

    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid var(--darkbrown);
        padding: 1.5rem;
        border-radius: 5px;

        .img_form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: auto 0;
            width: 100%;

            .category_select {
                margin-bottom: 2rem;
            }

            .file-input-container {
                display: flex;
                align-items: center;
                width: 100%;


                #article_image {
                    display: none;
                }

                .upload {
                    font-size: 3rem;
                    color: var(--lightbrown);
                    margin-left: 2rem;
                }
            }
        }

       

        .article_image-preview {
            border: 1px solid var(--darkbrown);
            width: 300px;
            min-height: 100px;
            border: 2px solid #ddd;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: #ccc;
            margin: 1rem 0 2rem 0;
            object-fit: cover;
            object-position: center;

            span {
                color: var(--beige);
            }
        }

        .category_select {
            display: flex;
            margin-bottom: .8rem;

            label {
                margin-right: .5rem;
            }

            select {
                border: 1px solid var(--darkbrown);


                option {
                    background-color: var(--lightwhite);
                    color: var(--darkbrown);
                    transition: .3 ease-in-out;
                }

                option:hover {
                    background-color: red;
                    color: var(--darkbrown);
                    transition: .3 ease-in-out;

                }
            }
        }

        label {
            margin: .5rem 0;
            color: var(--darkbrown);
            font-weight: 500;

        }

        textarea {
            height: 30vh;

        }

    }



    .btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        color: var(--darkbrown);
        width: 100%;

        .btn_sub {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;

            button {
                width: 40%;
                padding: .6rem;
                color: var(--lightwhite);
                background-color: var(--lightbrown);
                border: 1px solid var(--lightbrown);
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                cursor: pointer;
                position: relative;



                span {
                    position: relative;
                    z-index: 2;
                }



            }


            button:hover {
                transition: color .1s ease-in-out;
                color: var(--lightbrown);

            }

            button::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
                /* Transitions pour le remplissage */
            }

            button:hover::before {
                width: 100%;
                background-color: var(--lightwhite);
                /* Couleur de remplissage */
            }
        }

        button {
            width: 40%;
            padding: .6rem;
            color: var(--lightwhite);
            background-color: var(--lightbrown);
            border: 1px solid var(--lightbrown);
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            cursor: pointer;
            position: relative;
            margin-left: .5rem;



            span {
                position: relative;
                z-index: 2;
            }



        }


        button:hover {
            transition: color .1s ease-in-out;
            color: var(--lightbrown);

        }

        button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
            /* Transitions pour le remplissage */
        }

        button:hover::before {
            width: 100%;
            background-color: var(--lightwhite);
            /* Couleur de remplissage */
        }


    }

    .title_form,
    .img_form {
        margin-bottom: 1.5rem;

        input {
            border: 1px solid var(--darkbrown);
            padding: .4rem;
        }

        label {
            color: var(--darkbrown);
            font-weight: 500;
        }
    }

}




/* CREATE/EDIT fin */



/* MENU début */

header :global(.hamburger) {
    margin-right: 1rem;

}


.menu {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 8.1rem;
    z-index: 999;
    background: rgba(205, 154, 133, 0.3);
    backdrop-filter: blur(10px);
    overflow-x: hidden;
    right: 0;
    padding: 2rem 0;

    .menu_container {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        button {
            width: 40%;
            font-weight: 500;
            margin: 1rem 0 1rem 0;
            padding: 1rem 4rem;
            background: var(--lightbrown);
            font-size: 1.5rem;
            border: none;
            border-radius: .5rem;

            a {
                text-decoration: none;
                color: var(--lightwhite);

            }


        }
    }



}



/* MENU fin */



/* FORM LOGIN début */

.login_profil {
    position: absolute;
    top: 7.8rem;
    right: 1rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    z-index: 9;

    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 70%;
        background: var(--lightbrown);
        position: relative;
        top: -3rem;
    }

    .close {
        font-size: 2.5rem;
        margin: .6rem;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        color: var(--darkbrown);
    }

    h1 {
        font-size: 2.5rem;
        font-family: "Libre baskerville";
        color: var(--darkbrown);
    }

    p {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    a {
        font-weight: 600;
        text-decoration: none;
        margin-bottom: 1rem;
        color: var(--darkbrown);
    }

    .btn_signup {
        width: 90%;
        display: flex;
        justify-content: end;
        margin-top: 0.5rem;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 2rem;
            font-size: 1rem;
            border-radius: 25px;
            background-color: var(--beige);
            border: none;
        }

        a {
            font-size: 1.2rem;
            margin: auto;
            margin-right: 0.5rem;
            font-weight: 600;
        }

        ion-icon {
            font-size: 2rem;
        }


    }

    form {
        width: 80%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {
            text-transform: uppercase;
            margin: 0.7rem 0;
            font-weight: 500;
            font-size: .8rem;
        }

        input {
            background-color: var(--lightwhite);
            padding: 0.8rem;
            border: 1px solid var(--darkbrown);
            margin-bottom: 0.8rem;
        }

        a {
            margin: 0.7rem 0;
            text-align: center;
            text-decoration: none;
            color: var(--darkbrown);
            font-weight: bold;
            font-size: 1rem;
        }

        button {
            display: flex;
            justify-content: center;
            background-color: var(--darkbrown);
            border: none;
            padding: 1rem 0;
            color: var(--lightwhite);
            font-size: 1rem;


        }
    }
}




/* FORM LOGIN fin */



/* FORM LOGIN début */
.sign_profil {
    position: absolute;
    top: 7.8rem;
    right: 1rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    z-index: 9;

    .sign {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 80%;
        background: var(--lightbrown);
        position: relative;
        top: -3rem;
    }

    .close {
        font-size: 2.5rem;
        margin: .6rem;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        color: var(--darkbrown);
    }

    h1 {
        width: 80%;
        font-size: 2rem;
        font-family: "Libre baskerville";
        color: var(--darkbrown);
        text-align: center;
        margin-bottom: 3rem;
    }



    a {
        font-weight: 600;
        text-decoration: none;
        margin-bottom: 1rem;
        color: var(--darkbrown);
        font-size: 1rem;

    }



    form {
        width: 80%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {
            text-transform: uppercase;
            margin: 0.7rem 0;
            font-weight: 500;
            font-size: .8rem;

        }

        input {
            background-color: var(--lightwhite);
            padding: 0.8rem;
            border: 1px solid var(--darkbrown);
            margin-bottom: 0.8rem;
        }

        a {
            margin: 0.7rem 0;
            text-align: center;
            text-decoration: none;
            color: var(--darkbrown);
            font-weight: bold;
            font-size: 1rem;

        }

        button {
            display: flex;
            justify-content: center;
            background-color: var(--darkbrown);
            border: none;
            padding: 1rem 0;
            margin-top: .8rem;
            color: var(--lightwhite);
            font-size: 1rem;

        }
    }
}



.pass_profil {
    position: absolute;
    top: 7.8rem;
    right: 1rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    z-index: 9;

    .pass {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 70%;
        background: var(--lightbrown);
        position: relative;
        top: -3rem;
    }

    .close {
        font-size: 2.5rem;
        margin: .6rem;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        color: var(--darkbrown);
    }

    h1 {
        width: 70%;
        font-size: 2rem;
        font-family: "Libre baskerville";
        color: var(--darkbrown);
        text-align: center;
        margin-bottom: 1rem;

    }



    a {
        font-weight: 600;
        text-decoration: none;
        margin-bottom: 1rem;
        color: var(--darkbrown);
    }



    form {
        width: 80%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {
            text-transform: uppercase;
            margin: 0.7rem 0;
            font-weight: 500;
            font-size: .8rem;

        }

        input {
            background-color: var(--lightwhite);
            padding: 0.8rem;
            border: 1px solid var(--darkbrown);
            margin-bottom: 0.8rem;
        }

        a {
            margin: 0.7rem 0;
            text-align: center;
            text-decoration: none;
            color: var(--darkbrown);
            font-weight: bold;
            font-size: 1rem;

        }

        button {
            display: flex;
            justify-content: center;
            background-color: var(--darkbrown);
            border: none;
            padding: 1rem 0;
            margin-top: .8rem;
            color: var(--lightwhite);
            font-size: 1rem;


        }
    }
}


/* FORM LOGIN fin */





/* Début footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--darkbrown);
    padding: .5rem 0.5rem 0 .5rem;

    .info_footer {
        display: flex;

        li {
            font-size: 1rem;
            margin: 0 .3rem;

            a {
                text-decoration: none;
                color: var(--darkbrown);
                margin: 1rem;
                font-weight: 700;
                transition: .3s ease-in-out;

                cursor: pointer;
            }

            a:hover {
                transition: .3s ease-in-out;
                color: var(--lightbrown);
            }

        }
    }

    .social {
        display: flex;

        li {
            font-size: 1.8rem;
            margin: .3rem;

            ion-icon {
                color: var(--darkbrown);
                margin: .5rem;
                transition: .3s ease-in-out;
                cursor: pointer;
            }

            ion-icon:hover {
                transition: .3s ease-in-out;
                transform: scale(1.1);
                color: var(--lightbrown);
            }
        }

    }
}





/* Fin footer */



/* RESPONSIVE */

@media (max-width :1024px) {

    .home_container {
        .categories {
            display: none;
        }

        .latest_articles {
            width: 80%;

            .container_categories_list {
                height: 100%;
            }
        }
    }


    .user_profil_img {
        display: flex;
        flex-direction: column;
    }




    .article_container {

        .section_comment {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
        }
    }


    .profil_container {
        display: flex;
        flex-direction: column;

        h1 {
            margin-bottom: 1rem;
        }

        .profil_items {
            width: 95%;
            margin: auto;
        }

        .profil_container_box {
            width: 90%;
            margin: auto;

            .profil_description {
                width: 90%;
                margin: auto;
            }

        }

        .profil_description_form {
            display: flex;
            flex-direction: column;
            align-items: center;

            form {
                width: 90%;
                display: flex;
                align-items: center;
            }
        }

    }


    .menu {


        .menu_container {
            width: 70%;

            button {
                width: 100%;
                font-size: 1.2rem;
            }
        }
    }

    .login_profil {
        font-size: 65%;


        .login {
            width: 40%;

            .close {
                font-size: 2rem;
            }

            h1 {
                font-size: 2rem;
            }

        }

    }

    .sign_profil {
        font-size: 65%;


        .sign {
            width: 40%;





        }
    }

    .pass_profil {
        font-size: 65%;


        .pass {
            width: 40%;





        }
    }


    .article_image-preview {
        border: 1px solid var(--darkbrown);
        width: 300px;
        min-height: 100px;
        border: 2px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #ccc;
        margin: 1rem 0;
        object-fit: cover;
        object-position: center;

        span {
            color: var(--beige);
        }
    }

    .category_select {
        select {
            margin-left: 1rem;
        }
    }

    .contact_form{
    .modal{
        width: 40%;
    }}

}



@media (max-width :768px) {

    .about_container {

        .bg_responsive {
            background: url(../assets/chairs-g898a823a5_1280.jpg);
            width: 80%;
            height: 200px;
            margin: auto;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 1.5rem;

        }

        .about_container_bg {
            display: none;
        }

        .about_container_description {
            h1 {
                width: 100%;
                margin: auto;
                text-align: center;
                margin-bottom: 1.5rem;
                font-size: 1.5rem;
            }

            .about_container_description_text {
                margin-bottom: 1.5rem;
                margin: auto;
            }
        }

    }


    .login_profil {
        .login {

            width: 50%;
        }
    }

    .sign_profil {
        .sign {
            width: 50%;




        }
    }

    .pass_profil {


        .pass {
            width: 50%;





        }
    }


    
    .articles_container {

        .articles_container_article {
            min-height: 85vh;
        }
    }

    .contact_form{
        .modal{
            width: 50%;
        }}
}




@media (max-width :740px) {

    .article_container {

        .section_container {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;

            .user_profil {
                width: 95%;
                margin-top: 1.5rem;
                height: 12vh;

                .user_profil_container {

                    p {
                        display: none;
                    }

                    .user_profil_img {
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        background: var(--white);

                        img {
                            width: 70px;
                            height: 70px;
                        }
                    }


                }


            }

            .article_favorite {
                width: 90%;
                margin: auto;
                margin-top: 1rem;

                .article_choice {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    img {
                        width: 80%;
                        margin: auto;
                    }
                }




            }

            .articlescontainer {
                width: 95%;
            }
        }

        .section_comment {
            .section_comment_review {
                width: 95%;
            }

            .form_comment {
                width: 95%;
            }

        }
    }



}



@media (max-width :637px) {

    .container_section_articles {
        .articles_container {
            .articles_container_article {
                width: 80%;

            }
        }
    }









    .user_profil {
        width: 95%;
        margin-top: 1.5rem;
        height: 12vh;
    }

    .user_profil_img {
        display: flex;
        flex-direction: row;
        justify-content: start;
        background: var(--white);
    }

    .user_profil_img img {
        width: 70px;
        height: 70px;
    }

    .user_profil_container p {
        display: none;
    }

    .article_favorite {
        width: 90%;
        margin: auto;
        margin-top: 1rem;
    }

    .article_choice {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .article_choice img {
        width: 80%;
        margin: auto;
    }

    .articlescontainer {
        width: 95%;
    }


    .section_comment_review {
        width: 95%;
    }

    .form_comment {
        width: 95%;
    }
}











@media (max-width: 617px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info_footer {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .info_footer li {
        font-size: 1rem;
    }

    .social li {
        font-size: 1.2rem;
    }

}


@media (max-width: 543px) {
    .img_title {
        display: none;
    }

    .link li ion-icon {
        font-size: 2rem;
    }

}




@media (max-width :425px) {

    .profil_description_header {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }




    .contact_form {
        form {
            .form_header {
                display: flex;
                flex-direction: column;

                .form_header_lastname {
                    width: 100%;
                }

                .form_header_firstname {
                    width: 100%;
                }
            }
        }
    }


    .contact_form form,
    .contact_form form button {
        width: 100%;
    }







    .create_form {
        width: 90%;
    }

    .profil_container {

        .profil_container_box {


            .profil_description {

                .profil_description_form {


                    form {

                        input {
                            width: 100%;

                        }
                    }
                }

            }

        }


    }


    .profil_container {
        .profil_items {
            .profil_items_article {
                .profil_items_article_content {
                    width: 100%;
                }
            }
        }
    }

    .profil_container {
        .profil_items {
            .profil_items_fav {
                .profil_items_fav_content {
                    width: 100%;
                }
            }
        }
    }

    .login_profil {


        .login {
            width: 90%;



        }
    }

    .login_profil {
        font-size: 65%;


        .login {
            width: 90%;

            .close {
                font-size: 2rem;
            }

            h1 {
                font-size: 2rem;
            }

        }

    }

    .sign_profil {


        .sign {
            width: 90%;




        }
    }

    .pass_profil {


        .pass {
            width: 90%;





        }
    }


   

    .article_container {

        .section_container {

            .articlescontainer {
                margin-top: 7rem;
            }

            .article_favorite {
                margin-top: 2.5rem;
            }

            .user_profil {
                .user_profil_container {
                    .user_profil_img {
                        background-color: var(--lightwhite);
                    }
                }
            }
        }
    }


    
    .contact_form{
        .modal{
            width: 100%;
        }}
    
        
    
    


}


@media (max-width :320px) {
    .about_container {

        .bg_responsive {
            width: 100%;


        }
    }


}